body {
    background-color: #95b4c0;
    font-family: sans-serif;
}

h1 {
    color: red;
    text-align: center;
    margin: 20px;
}

h2, p, .centered {
    text-align: center;
}

.centered-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}